.home {
    color: blueviolet;
    text-align: center;

    ul {
        list-style: none;
        background-color: #eeeeee;
    }

    li {
        margin-bottom: 10px;
    }

    input {
        padding: 10px;
    }

    button {
        padding: 10px 20px;
        color: white;
        background-color: blueviolet;
        margin-left: 5px;
        border-radius: 5px;
        border: none;

        &:hover {
            box-shadow: 0 4px 4px rgba(black, .4);
            font-weight: 700;
        }
    }
}