.signup {
    margin: 3.5% 30% 0% 30%;
    background-color: blueviolet;
    padding: 40px 30px;
    text-align: center;
    border-radius: 10px;

    &__heading {
        color: white;
    }

    &__google {
        border: none;
        padding: 10px 20px;
        font-weight: 500;
        font-size: 15px;
        margin-bottom: 10px;
        border-radius: 7px;

        &:hover {
            box-shadow: 0 4px 4px rgba(black, .4);
            font-weight: 700;
        }
    }

    a {
        color: white;
        text-decoration: none;
    }

    a:hover {
        font-weight: 700;
    }

    &__form {
        text-align: center;

        input {
            margin-left: 20%;
            padding: 10px;
            border-radius: 5px;
            width: 300px;
            border: none;
            display: block;
            margin-bottom: 10px;
        }

        button {
            padding: 10px 20px;
            font-size: 18px;
            border-radius: 5px;
            border: none;

            &:hover {
                box-shadow: 0 4px 4px rgba(black, .4);
                font-weight: 700;
            }
        }

    }
}